* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1a2a33;
}
.content {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}
.themeJS {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: #343334;
}
.themeJS > a {
    color: #bebdbf;
}
.themeJS > a:hover {
    color: #bab9bb;
}
.point-event-none > a {
    pointer-events: none;
    color: #838284;
}